.header {
  background-color: var(--background-1);
  padding: 2rem 4rem;
}

.navbar {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 500;
  opacity: .7;
  transition: .3s;
}

.link:hover {
  opacity: 1;
}

.openMenuButton {
  display: none;
}

.closeMenuButton {
  display: none;
}

.overlay {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 850px) {

  .openMenuButton {
    border: none;
    background: none;
    margin-left: 1rem;
    cursor: pointer;
    display: block;
  }

  .openMenuButton svg {
    font-size: 3rem;
    color: var(--black);
  }

  .overlay.open {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(3, 7, 22, 0.5);
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -110%;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(18, 18, 18, .95);
    backdrop-filter: blur(10px);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    padding: 10rem 2rem 2rem;
    touch-action: none;
    visibility: hidden;
    transition: .4s;
  }

  .menu.open {
    right: 0;
    visibility: visible;
  }

  .closeMenuButton {
    border: none;
    background: none;
    display: block;
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    z-index: 4;
  }

  .closeMenuButton svg {
    font-size: 3rem;
    color: var(--white);
  }

  .link {
    color: var(--white);
  }
}

@media screen and (max-width: 574px) {
  .header {
    padding: 2rem;
  }
}