.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--black);
  opacity: .85;
  margin-right: auto;
}

.icon {
  vertical-align: middle;
}

/* 576px */
@media (max-width: 36em) {
  .logo {
    font-size: 2.2rem;
  }
}