.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  animation: var(--animation-fade-in);
  touch-action: none;
}

.modalContent {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 500px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 2rem;
}

.containerButtons {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cancelButton {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
  background-color: var(--light-grey);
  padding: 2rem 4rem;
  border: none;
  border-radius: 1rem;
  white-space: nowrap;
  transition: .3s;
}

.cancelButton:hover {
  background-color: var(--hover-light-grey);
}

.confirmButton {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #db1436;
  padding: 2rem 4rem;
  border: none;
  border-radius: 1rem;
  white-space: nowrap;
  transition: .3s;
}

.confirmButton:hover {
  background-color: #ff002b;
}

@media screen and (max-width: 574px) {
  .containerButtons {
    flex-direction: column;
  }
}