.container {
  position: relative;
  padding-right: 2rem;
  margin-left: 3rem;
  padding: 1rem;
}

.cartIcon {
  font-size: 2.5rem;
  color: var(--black);
}

.cartNumber {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
}

@media screen and (max-width: 850px) {
  .container {
    margin-left: initial;
  }
}