.container {
  position: relative;
  margin-left: 3rem;
}

.cartLink {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIcon {
  font-size: 2.5rem;
  color: var(--black);
}

.cartNumber {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0.80;
  color: var(--black);
}

/* 864px */
@media (max-width: 54em) {
  .container {
    margin-left: initial;
  }
}