.containerButtons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button {
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2rem;
  border-radius: 1rem;
  width: 24rem;
  transition: .3s;
}

.button:hover {
  opacity: .9;
}

.addToCartButton {
  color: #ffffff;
  background-color: var(--background-button);
}

.goToCartButton {
  color: var(--background-button);
  background-color: transparent;
  border: 2px solid var(--background-button);
}

/* 576px */
@media (max-width: 36em) {
  .button {
    width: 100%;
  }
}