.section {
  padding: 6rem 4rem;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  margin: auto;
  animation: var(--animation-fade-in);
}

.title {
  margin: 4rem 0;
  color: var(--black);
  font-size: 3rem;
  font-weight: 600;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image {
  width: 100%;
  height: auto;
}

.form {
  margin-top: 4rem;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.4rem;
  color: var(--black);
}

.containerInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.containerInput label {
  opacity: .85;
}

.containerInput input {
  font-size: 1.7rem;
  font-weight: 500;
  opacity: .85;
  padding: 1.5rem 1rem;
  border: 2px solid var(--dark-grey);
  border-radius: 1rem;
  outline: none;
  transition: .3s;
}

.containerInput input:focus {
  border: 2px solid #007acd;
  box-shadow: 0px 1px 8px -3px #185296;
}

.contactButton {
  margin-top: 1rem;
  padding: 1.5rem 3rem;
  border: 2px solid #007acd;
  border-radius: 1rem;
  background-color: #007acd;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  transition: .3s;
}

.contactButton:hover {
  opacity: .9;
}

@media screen and (max-width: 820px) {
  .row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .image {
    width: 50%;
    transform: translateX(-2rem);
  }
}

@media screen and (max-width: 574px) {
  .section {
    padding: 4rem 2rem;
  }

  .image {
    width: 100%;
  }
}