.button {
  border: none;
  background: none;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black);
  opacity: .75;
  transition: .3s;
  cursor: pointer;
}

.button:hover {
  opacity: .95;
}

.icon {
  vertical-align: middle;
  transition: .3s;
}

.button:hover .icon {
  transform: translateX(-5px);
}