/* GLOBAL STYLES */

:root {
  --white: #f8f5f8;
  --black: #2b2a2a;
  --dark-grey: #b9b9b9;
  --light-grey: #e6e5e5;
  --hover-light-grey: #d3d0d0;
  --background-1: #f4f0eb;
  --background-button: #146ef5;
  --color-text: #15660f;

  --animation-fade-in: fade-in .4s backwards .2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui;
  letter-spacing: 0.025em;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

p {
  font-size: 1.8rem;
  color: var(--black);
  line-height: 1.5;
  opacity: .9;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 320px) {
  html {
    font-size: 55%;
  }
}