.section {
  padding: 6rem 4rem;
  min-height: 100vh;
  animation: var(--animation-fade-in);
}

.container {
  max-width: 100rem;
  margin: auto;
}

.title {
  margin-top: 4rem;
  color: var(--black);
  font-size: 3rem;
  font-weight: 600;
}

/* 576px */
@media (max-width: 36em) {
  .section {
    padding: 4rem 2rem;
  }
}